Listas em Python

In [2]:
idades = [39, 30, 27, 18]

type(idades)

list

In [3]:
idades

[39, 30, 27, 18]

In [4]:
idades.append(15)

In [5]:
15 in idades

True

In [6]:
idades.insert(2,90)
idades

[39, 30, 90, 27, 18, 15]

In [7]:
idades.extend([97,98])
idades

[39, 30, 90, 27, 18, 15, 97, 98]

In [8]:
for idade in idades:
    print(idade + 1)

40
31
91
28
19
16
98
99

In [9]:
idade_ano_que_vem = [idade+1 for idade in idades]
idade_ano_que_vem

[40, 31, 91, 28, 19, 16, 98, 99]

In [10]:
idade_ano_que_vem.remove(16)
idade_ano_que_vem

[40, 31, 91, 28, 19, 98, 99]

Objetos Próprios

In [11]:
class contaCorrente:
    def __init__(self, codigo):
        self.codigo = codigo
        self.saldo = 0
 
    def depositar(self, valor):
        self.saldo += valor

    def __str__(self) -> str:
        return "[>> Código {} Saldo R$ {} <<]".format(self.codigo,self.saldo)

In [12]:
conta_ed = contaCorrente(15)
conta_ed.depositar(500)
print(conta_ed)

[>> Código 15 Saldo R$ 500 <<]

In [13]:
conta_dani = contaCorrente(17)
conta_dani.depositar(1000)
print(conta_dani)

[>> Código 17 Saldo R$ 1000 <<]

In [14]:
contas = [conta_ed, conta_dani]
for conta in contas:
    print(conta)

[>> Código 15 Saldo R$ 500 <<]
[>> Código 17 Saldo R$ 1000 <<]

In [15]:
def depositar_para_todas(contas):
    for conta in contas:
        conta.depositar(100)

contas = [conta_ed, conta_dani]
print(contas[0], contas[1])
depositar_para_todas(contas)
print(contas[0], contas[1])

[>> Código 15 Saldo R$ 500 <<] [>> Código 17 Saldo R$ 1000 <<]
[>> Código 15 Saldo R$ 600 <<] [>> Código 17 Saldo R$ 1100 <<]

Herança e Polimorfismo

In [16]:
from abc import ABCMeta, abstractmethod

class Conta(metaclass = ABCMeta):
    def __init__(self, codigo):
        self._codigo = codigo
        self._saldo = 0
 
    def depositar(self, valor):
        self._saldo += valor

    @abstractmethod         # Força que as subclasses implementem esse método (para métodos indispensaveis)
    def passa_o_mes(self):
        pass

    def __str__(self) -> str:
        return "[>> Código {} Saldo R$ {} <<]".format(self._codigo,self._saldo)

In [17]:
print(Conta(88))

TypeError: Can't instantiate abstract class Conta with abstract methods passa_o_mes

In [ ]:
class ContaCorrente(Conta):
    def passa_o_mes(self):
        self._saldo -=2

class ContaPoupanca(Conta):
    def passa_o_mes(self):
        self._saldo *=1.01
        self._saldo -=3

In [ ]:
ContaInvestimento(457)

TypeError: Can't instantiate abstract class ContaInvestimento with abstract methods passa_o_mes

In [ ]:
conta16 = ContaCorrente(16)
conta16.depositar(1000)
conta16.passa_o_mes()
print(conta16)

[>> Código 16 Saldo R$ 998 <<]

In [ ]:
conta17 = ContaPoupanca(17)
conta17.depositar(1000)
conta17.passa_o_mes()
print(conta17)

[>> Código 17 Saldo R$ 1007.0 <<]

In [ ]:
conta16 = ContaCorrente(16)
conta16.depositar(1000)
conta17 = ContaPoupanca(17)
conta17.depositar(1000)
contas = [conta16, conta17]

for conta in contas:
    conta.passa_o_mes() # duck typing
    print(conta)

[>> Código 16 Saldo R$ 998 <<]
[>> Código 17 Saldo R$ 1007.0 <<]

Arrays e Numpy

Arrays -> Lista utilizada para numéricos (float, duble) processamento mais eficiente
List -> Lista de elementos de mesmo tipo (Obj, int, float)
Tuplas -> Lista de elemetntos de tipos diferentes (str, int, float)

In [ ]:
import numpy as np

In [ ]:
numeros = np.array([1.0, 3.5])
numeros

array([1. , 3.5])

In [ ]:
numeros+3

array([4. , 6.5])

In [ ]:
class ContaSalario():
    def __init__(self, codigo):
        self._codigo = codigo
        self._saldo = 0
 
    def depositar(self, valor):
        self._saldo += valor

    def __eq__(self, outro):
        if type(outro) != ContaSalario:
            return False
        return self._codigo == outro._codigo and self._saldo == outro._saldo

    def __str__(self) -> str:
        return "[>> Código {} Saldo R$ {} <<]".format(self._codigo,self._saldo)

In [ ]:
conta1 = ContaSalario(37)
conta2 = ContaCorrente(37)
conta1 == conta2

False

In [ ]:
type(conta2)

__main__.ContaCorrente

In [ ]:
idades = [15,51,67,48,25,45,12,17,62,15,33]

for i in range(len(idades)): print(i, idades[i])

0 15
1 51
2 67
3 48
4 25
5 45
6 12
7 17
8 62
9 15
10 33

In [18]:
range(len(idades)) #lazy somente cria quando necessário

range(0, 8)

In [19]:
enumerate(idades) #lazy somente cria quando necessário

In [20]:
list(range(len(idades))) # Force da geração de valores

[0, 1, 2, 3, 4, 5, 6, 7]

In [21]:
list(enumerate(idades))

[(0, 39), (1, 30), (2, 90), (3, 27), (4, 18), (5, 15), (6, 97), (7, 98)]

In [22]:
for valor in enumerate(idades):print(valor) # melhor para acessar listas grandes em bancos de dados por exemplo

(0, 39)
(1, 30)
(2, 90)
(3, 27)
(4, 18)
(5, 15)
(6, 97)
(7, 98)

In [23]:
for indice, valor in enumerate(idades):print(indice, valor) # unpacking da tupla

0 39
1 30
2 90
3 27
4 18
5 15
6 97
7 98

In [25]:
valor

98

In [45]:
usuarios = [("Guilherme", 27, 145),
            ("Daniela", 22, 457),
            ("Rafael", 36, 674),
            ("Marcela", 21, 547)]

In [34]:
for nome, idade, codigo in usuarios: print(nome) # unpacking da tupla

Guilherme
Daniela
Rafael
Marcela

In [46]:
alunos =[]

In [47]:
for nome, _, _ in usuarios: alunos.append(nome) # unpacking da tupla e ignorando o itens não utilizados

In [48]:
alunos

['Guilherme', 'Daniela', 'Rafael', 'Marcela']

In [36]:
sorted(idades)

[15, 18, 27, 30, 39, 90, 97, 98]

In [38]:
list(reversed(idades))

[98, 97, 15, 18, 27, 90, 30, 39]

In [39]:
sorted(idades, reverse=True)

[98, 97, 90, 39, 30, 27, 18, 15]

In [49]:
sorted(alunos)

['Daniela', 'Guilherme', 'Marcela', 'Rafael']

 Ordenação de objetos sem ordem natural

In [62]:
class ContaSalario():
    def __init__(self, codigo):
        self._codigo = codigo
        self._saldo = 0
 
    def depositar(self, valor):
        self._saldo += valor

    def __eq__(self, outro):
        if type(outro) != ContaSalario:
            return False
        return self._codigo == outro._codigo and self._saldo == outro._saldo
    
    def __lt__(self, outro):
        return self._saldo < outro._saldo

    def __str__(self) -> str:
        return "[>> Código {} Saldo R$ {} <<]".format(self._codigo,self._saldo)

In [63]:
conta_guilherme = ContaSalario(17)
conta_guilherme.depositar(500)

conta_daniela = ContaSalario(3)
conta_daniela.depositar(1000)

conta_paulo = ContaSalario(133)
conta_paulo.depositar(510)

contas = [conta_guilherme, conta_daniela, conta_paulo]

In [54]:
for conta in contas:
    print(conta)

[>> Código 17 Saldo R$ 500 <<]
[>> Código 3 Saldo R$ 1000 <<]
[>> Código 133 Saldo R$ 510 <<]

In [59]:
def extrai_saldo(conta):    # Função customizada (lambda)
    return conta._saldo

for conta in sorted(contas, key=extrai_saldo):
    print(conta)

[>> Código 17 Saldo R$ 500 <<]
[>> Código 133 Saldo R$ 510 <<]
[>> Código 3 Saldo R$ 1000 <<]

In [60]:
from operator import attrgetter

In [61]:
for conta in sorted(contas, key=attrgetter("_saldo")):
    print(conta)

[>> Código 17 Saldo R$ 500 <<]
[>> Código 133 Saldo R$ 510 <<]
[>> Código 3 Saldo R$ 1000 <<]

In [65]:
conta_guilherme > conta_daniela

False

In [70]:
conta_guilherme = ContaSalario(17)
conta_guilherme.depositar(500)

conta_daniela = ContaSalario(3)
conta_daniela.depositar(500)

conta_paulo = ContaSalario(133)
conta_paulo.depositar(500)

contas = [conta_guilherme, conta_daniela, conta_paulo]

In [67]:
for conta in sorted(contas, key=attrgetter("_saldo", "_codigo")): print(conta)

[>> Código 17 Saldo R$ 500 <<]
[>> Código 133 Saldo R$ 500 <<]
[>> Código 3 Saldo R$ 1000 <<]

In [68]:
class ContaSalario():
    def __init__(self, codigo):
        self._codigo = codigo
        self._saldo = 0
 
    def depositar(self, valor):
        self._saldo += valor

    def __eq__(self, outro):
        if type(outro) != ContaSalario:
            return False
        return self._codigo == outro._codigo and self._saldo == outro._saldo
    
    def __lt__(self, outro):
        if self._saldo != outro._saldo:
            return self._saldo < outro._saldo
        return self._codigo < outro._codigo

    def __str__(self) -> str:
        return "[>> Código {} Saldo R$ {} <<]".format(self._codigo,self._saldo)

In [71]:
for conta in sorted(contas): print(conta)

[>> Código 3 Saldo R$ 500 <<]
[>> Código 17 Saldo R$ 500 <<]
[>> Código 133 Saldo R$ 500 <<]

In [72]:
from functools import total_ordering

@total_ordering         # Decorator
class ContaSalario():
    def __init__(self, codigo):
        self._codigo = codigo
        self._saldo = 0
 
    def depositar(self, valor):
        self._saldo += valor

    def __eq__(self, outro):
        if type(outro) != ContaSalario:
            return False
        return self._codigo == outro._codigo and self._saldo == outro._saldo
    
    def __lt__(self, outro):
        if self._saldo != outro._saldo:
            return self._saldo < outro._saldo
        return self._codigo < outro._codigo

    def __str__(self) -> str:
        return "[>> Código {} Saldo R$ {} <<]".format(self._codigo,self._saldo)

In [73]:
conta_guilherme = ContaSalario(17)
conta_guilherme.depositar(500)

conta_daniela = ContaSalario(3)
conta_daniela.depositar(500)

conta_paulo = ContaSalario(133)
conta_paulo.depositar(500)

contas = [conta_guilherme, conta_daniela, conta_paulo]

In [74]:
conta_daniela <= conta_paulo

True